@using LP.Plotter.Data;
@using LP.Plotter.Services;
@using System.Collections.Specialized;

@implements IDisposable;

<div style="@Style">
    <MudPaper Width="300px" Style="padding: 10px">
        @foreach (var s in PlotData.Sets)
        {
            <div>
                <div style="display:flex; justify-content: space-between; align-items: center; user-select: none;">
                    <MudText Typo="Typo.h6">@s.Name</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.AddCircle"
                                   Size="Size.Small"
                                   Color="Color.Primary"
                                   OnClick="@((e)=>AddChannelClick(e, s))" />
                </div>
                <ul>
                    @foreach (var c in s.Channels)
                    {
                        <li style="margin-left: 20px; display:flex; justify-content: space-between; align-items: center; user-select: none;">
                            <MudText Typo="Typo.body2">@c.Name</MudText>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                           Size="Size.Small"
                                           Color="Color.Primary"
                                           OnClick="@((e)=>EditChannelClick(e, c))" />
                        </li>
                    }
                </ul>
            </div>
        }
    </MudPaper>
</div>

@code {

#pragma warning disable CS8618
    [Parameter]
    public string Style { get; set; }
    [Parameter, EditorRequired]
    public ChannelPlotModel PlotData { get; set; }
#pragma warning restore CS8618

    private ChannelPlotModel? lastDataModel;

    private void AddChannelClick(MouseEventArgs e, VChannelSetVM set) { }
    private void EditChannelClick(MouseEventArgs e, VChannel channel) { }

    private void Redraw(object? sender, EventArgs e)
    {
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        if (lastDataModel != PlotData)
        {
            if (lastDataModel is not null)
            {
                lastDataModel.Changed -= Redraw;
                lastDataModel = null;
            }
            if (PlotData is not null)
            {
                PlotData.Changed += Redraw;
                lastDataModel = PlotData;
            }
        }
    }

    public void Dispose()
    {
        if (PlotData is not null)
            PlotData.Changed -= Redraw;
    }
}