@using System.Linq;
@using LP.Plot.Core.Data;

@inject DataService dataService;
@inject AppService appService;

<MudContainer>
    @if (dataError == null)
    {
        <MudTreeView Dense="true" Items="@items" Hover="true">
            <ItemTemplate Context="item">
                <MudTreeViewItem Items="@item.Items" Value="@item">
                    <BodyContent>
                        <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                            <MudText Style="justify-self: start;">@item.DisplayName</MudText>
                            @if (item.IsRun)
                            {
                                <div style="justify-self: end;">
                                    <MudIcon Icon="@Icons.Material.Filled.Error" Size="Size.Medium"
                                             Color="Color.Error" Style="vertical-align: middle;"
                                             Class="@(item.HasLoadError?"visible":"invisible")"></MudIcon>
                                    <MudIconButton Icon="@Icons.Material.Filled.AddCircle"
                                                   Size="Size.Medium"
                                                   Color="Color.Tertiary"
                                                   Disabled="item.IsLoading"
                                                   OnClick="@((e)=>HandleRunClick(e, item))" />
                                </div>
                            }
                            else if (item.IsLap)
                            {
                                <div style="justify-self: end;">
                                    <MudIcon Icon="@Icons.Material.Filled.Error" Size="Size.Medium"
                                             Color="Color.Error" Style="vertical-align: middle;"
                                             Class="@(item.HasLoadError?"visible":"invisible")"></MudIcon>
                                    <MudIconButton Icon="@Icons.Material.Filled.AddCircle"
                                                   Size="Size.Medium"
                                                   Color="Color.Primary"
                                                   Disabled="item.IsLoading"
                                                   OnClick="@((e)=>HandleLapClick(e, item))" />
                                </div>
                            }
                        </div>
                    </BodyContent>
                </MudTreeViewItem>
            </ItemTemplate>

        </MudTreeView>
    }
    else
    {
        <MudAlert Severity="Severity.Error">@dataError</MudAlert>
    }
</MudContainer>

@code {

    Exception? dataError = null;
    HashSet<CsvTreeItem> items = new();
    HashSet<CsvTreeItem> SelectedValues { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            this.items = (await this.dataService.GetFileInfos())
            .GroupBy(x => x.Path.Split("\\")[3])
            .Select(cars => new CsvTreeItem()
                {
                    DisplayName = cars.Key,
                    Items = cars.GroupBy(x => x.Path.Split("\\")[4])
                                .Select(runs => new CsvTreeItem()
                                {
                                    DisplayName = runs.Key,
                                    Items = runs.Select(lap => new CsvTreeItem()
                                    {
                                        Source = lap,
                                        DisplayName = lap.FileName,
                                    }).ToHashSet()
                                }).ToHashSet()
                }).ToHashSet();
        }
        catch (Exception ex)
        {
            this.dataError = ex;
        }
        await base.OnInitializedAsync();
    }

    private async void HandleLapClick(MouseEventArgs e, CsvTreeItem item)
    {
        try
        {
            item.IsLoading = true;
            item.HasLoadError = false;
            var d = await dataService.LoadChannels(item.Source!);
            item.IsLoading = false;
            appService.Add(d);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            item.IsLoading = false;
            item.HasLoadError = true;
        }
        this.StateHasChanged();
    }

    private async void HandleRunClick(MouseEventArgs e, CsvTreeItem item)
    {
        try
        {
            item.IsLoading = true;
            item.HasLoadError = false;
            var result = await dataService.MergeLaps(item.Items!.Select(x => x.Source!));
            item.IsLoading = false;
            appService.Add(result);

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            item.IsLoading = false;
            item.HasLoadError = true;
        }
        this.StateHasChanged();
    }

    class CsvTreeItem
    {
        public bool IsLoading { get; set; } = false;
        public bool HasLoadError { get; set; } = false;
        public CsvInfo? Source { get; init; }
        public required string DisplayName { get; init; }
        public HashSet<CsvTreeItem>? Items { get; set; } = null;
        public bool HasChildren => Items != null;
        public bool IsLap => !HasChildren;
        public bool IsRun => Items?.FirstOrDefault()?.IsLap == true;
    }
}